@charset "UTF-8";
body {
    padding: 0;
    margin: 0;
}
.leaflet-popup-content {
    background: #FFF0D2;
    color: #333;
    text-align : center;
    width: 220px;
}
.leaflet-popup-content-wrapper {
    background: #FFE3AF;
}
.leaflet-popup-tip {
    background: #FFE3AF;
}
#header {
    color: #A52438;
    background-color: #DBB875;
    height: 70px;
    text-align: center;
    font-family: 'Caesar Dressing', cursive;
    font-size: 60px;
}
#sidebar {
    width: 350px;
}