html, body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
}

#wrapper{
  height:100%;
}

#content{
  height:100%;
  width: 100%;
}

#titulo-app{
font-weight: 800;
font-size: 3rem
}