html, body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
}

#wrapper{
  height:100%;
}

#content{
  height:100%;
  width: 100%;
}

#titulo-app{
font-weight: 700;
font-size: 2.8rem
}

#div-error {
  border-left: 0.25rem solid red;
  background: #f8f9fc;
}
