<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ConexionTwitter</servlet-name>
        <servlet-class>com.ucam.quesaben.ConexionTwitter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadInit</servlet-name>
        <servlet-class>com.ucam.quesaben.LoadInit</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConexionTwitter</servlet-name>
        <url-pattern>/ConexionTwitter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadInit</servlet-name>
        <url-pattern>/LoadInit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>blank.jsp</welcome-file>
    </welcome-file-list>
</web-app>
